
/* Basic styles for the product card */
.product-card {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#checkout-details {
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #eee;
}

nav li {
    margin: 0 10px;
}

.checkout-container {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #d9534f;
    border-bottom: 2px solid #d9534f;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
h3 {
    color: #333;
    margin-bottom: 10px;
}
form {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}
input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
button[type="submit"] {
    background-color: #5cb85c;
    color: black;
}
#cancel-button {
    background-color: #d9534f;
    color: white;
}
.order-summary-container {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}