<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>Paradisiac</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.product.controller.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/view/product</url-pattern>
    </servlet-mapping>

	<listener>
		<listener-class>com.paradisiac.listener.InitializerListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>SessionInViewFilter</filter-name>
		<filter-class>com.paradisiac.filter.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionInViewFilter</filter-name>
		<url-pattern>/hibernate/*</url-pattern>
	</filter-mapping>

</web-app>