<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>Paradisiac</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.product.controller.ProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/back-end/product</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MembersServlet</servlet-name>
		<servlet-class>com.paradisiac.members.controller.MembersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MembersServlet</servlet-name>
		<url-pattern>/back-end/members/members.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MembersServlet</servlet-name>
		<url-pattern>/front-end/members/members.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginHandler</servlet-name>
		<servlet-class>com.paradisiac.members.controller.LoginHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginHandler</servlet-name>
		<url-pattern>/front-end/members/login.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginHandler</servlet-name>
		<url-pattern>/back-end/members/login.do</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>CsmessagesServlet</servlet-name>
        <servlet-class>com.paradisiac.csmessages.controller.CsmessagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CsmessagesServlet</servlet-name>
        <url-pattern>/back-end/csmessages/csmessages.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CsmessagesServlet</servlet-name>
        <url-pattern>/front-end/csmessages/csmessages.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPass</servlet-name>
        <servlet-class>com.paradisiac.members.controller.ResetPass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPass</servlet-name>
        <url-pattern>/front-end/members/ResetPass.do</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>ActOrder</servlet-name>
        <servlet-class>com.paradisiac.actorder.controller.ActOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActOrder</servlet-name>
        <url-pattern>/front-end/actorder/ActOrder.do</url-pattern>
    </servlet-mapping>

	<listener>
		<listener-class>com.paradisiac.listener.InitializerListener</listener-class>
	</listener>

	<filter>
		<filter-name>SessionInViewFilter</filter-name>
		<filter-class>com.paradisiac.filter.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.paradisiac.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/front-end/cart/cart.html</url-pattern>
		<url-pattern>/front-end/members/MembersUpdate.jsp</url-pattern>
<!-- 		<url-pattern>/front-end/actorder/ActCheckOut.jsp</url-pattern> -->
		<url-pattern>/front-end/csmessages/MessageCPF.jsp</url-pattern>
		<url-pattern>/front-end/csmessages/MessageLPF.jsp</url-pattern>
		<url-pattern>/back-end/roomorder/orderbuy.jsp</url-pattern>
        <url-pattern>/front-end/members/listOnePha_mem.jsp</url-pattern>

	</filter-mapping>

</web-app>